<% @stories.each do |story| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= link_to(image_tag(story.picture), story) if story.picture? %>
        <div class="caption">
          <h3><%= story.title %></h3>
          <small><%= time_ago_in_words(story.created_at) %> ago</small>
          <p><%= story.content.truncate(150)  %></p>
      </div>
    </div>
<% end %>